$primary-color: #434b57;
$secondary-color: #393e46;
$support-color: #00adb5;
$background-color: #eeeeee;
$background-color-hover: #c0c0c0;
$text-color: #eeeeee;
$white-color: #ffffff;
$black-color: #000000;
