.flex {
  display: flex;
}

.justify-sb {
  justify-content: space-between;
}

.justify-stretch {
  justify-content: stretch;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.flex-grow {
  flex-grow: 1;
}
